<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Choose Student To Compare Classes Avg</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script th:src="@{/js/jquery-1.8.3.js}"></script>
    <script th:src="@{/js/address.js}"></script>
    <script th:src="@{/js/echarts.js}"></script>
    <script type="text/javascript">
       function  clickAvgView() {
           var  schoolId = $('#schooId').val();
           var  classInSchoolId = $('#classInSchoolId').val();
           var  year = $('#year').val();
           var  studentId = $('#studentId').val();
           var  midOrEnd = $('#midOrEnd').val();
           $("#form").hide();
           $("#echartsViewBut").hide();
           $("#header").hide();
           $.ajax({
               url:"/avgViewByStudentId",
               data:{
                   schoolId:schoolId,
                   classInSchoolId:classInSchoolId,
                   year:year,
                   midOrEnd:midOrEnd,
                   studentId:studentId
               },
               dataType:"json",
               success:function (result) {
                   if (result.status != 0){
                       alert(result.message);
                       return;
                   }
                   //指定图标的配置和数据
                   option = {
                       tooltip : {
                           trigger: 'axis'
                       },
                       toolbox: {
                           show : true,
                           feature : {
                               mark : {show: true},
                               dataView : {show: true, readOnly: false},
                               magicType: {show: true, type: ['bar', 'line']},
                               restore : {show: true},
                               saveAsImage : {show: true}
                           }
                       },
                       calculable : true,
                       legend: {
                           data:result.data.compareData
                       },
                       xAxis : [
                           {
                               type : 'category',
                               name : '科目',
                               data : result.data.subjectNames
                           }
                       ],
                       yAxis : [
                           {
                               max  : 100,
                               type : 'value',
                               name : '分数',
                               axisLabel : {
                                   formatter: '{value} 分'
                               }
                           }
                       ],
                       series : [

                           {
                               name:'学生成绩',
                               type:'bar',
                               data:result.data.student
                           },
                           {
                               name:'班级平均成绩',
                               type:'line',
                               data:result.data.Avg
                           }
                       ]
                   };
                   //初始化echarts实例
                   var myChart = echarts.init(document.getElementById('chartmain'));

                   //使用制定的配置项和数据显示图表
                   myChart.setOption(option);
               },
               error:function (data) {
                   alert("fail")
               }
           })
       }
    </script>
</head>
<body>
<div class="container">
    <div class="row clearfix" id="header">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    Please Choose Student
                    <br>
                </h1>
            </div>
            <dl>
                <dt>
                    For Your Attention,The following information is required
                </dt>
                <dd>
                    studentName
                </dd>
            </dl>
        </div>
    </div>
    <form class="form-horizontal" role="form" id="form">
        <div class="form-group">
            <label for="schooId" class="col-sm-2 control-label">选择学校</label>
            <div class="col-sm-10">
                <select id="schooId" name="schoolId" onchange="window.location.href='getClassListBySchoolIdView?schoolId='+this.value">
                    <option value="">--请选择学校--</p></option>
                    <option th:selected = "${schoolId eq school.id}" th:each="school:${schoolList}" th:value="${school.id}"><p th:text="${school.schoolName}"></p></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="classInSchoolId" class="col-sm-2 control-label">选择班级</label>
            <div class="col-sm-10">
                <select id="classInSchoolId" name="classInSchoolId" onchange="window.location.href='getStudentListByClassIdView?classInSchoolId='+this.value">
                    <option value="">--请选择班级--</p></option>
                    <option th:selected = "${classInSchoolId eq schoolClass.id}" th:each="schoolClass:${classList}" th:value="${schoolClass.id}"><p th:text="${schoolClass.classInSchoolName}"></p></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="studentId" class="col-sm-2 control-label">选择学生</label>
            <div class="col-sm-10">
                <select id="studentId" name="studentId">
                    <option value="">--请选择学生--</p></option>
                    <option th:each="student:${studentList}" th:value="${student.id}"><p th:text="${student.studentName}"></p></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="year" class="col-sm-2 control-label">年份</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="year" name="year"
                       placeholder="请输入年份（如2014）">
            </div>
        </div>
        <div class="form-group">
            <label for="midOrEnd" class="col-sm-2 control-label">考试类别</label>
            <div class="col-sm-10">
                <input type="radio"  id = "midOrEnd" name="midOrEnd" value="0" checked>期中</input>
                <input type="radio"  name="midOrEnd" value="1">期末</input>
            </div>
        </div>
    </form>
    <div class="form-group" id="echartsViewBut">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-info btn-lg"  onclick="clickAvgView()">查看视图</button>
            &nbsp;     &nbsp;     &nbsp;     &nbsp;     &nbsp;     &nbsp;
            <button type="button" class="btn btn-info btn-lg"  onclick="window.location.href='/tologinSuccess'">返回</button>
        </div>
    </div>
    <div id="chartmain" style="width: 1000px; height: 1000px;"></div>
</div>

</body>
</html>