<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Look up Student Predict Score</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script th:src="@{/js/jquery-1.8.3.js}"></script>
    <script th:src="@{/js/address.js}"></script>
    <script th:src="@{/js/echarts.js}"></script>
    <script type="text/javascript">
        function searchStudents(classId) {
            $.ajax({
                url:"findAllStudentByClassId",
                data:{
                    classId:classId,
                },
                success:function (result) {
                    $("#studentId").empty();
                    for (var student in result.studentList){
                        $("#studentId").append("<option value='"+result.studentList[student].id+"'>"+result.studentList[student].studentName+"</option>");
                    }
                }
            })
        };
        function searchClasses(schoolId) {
            $.ajax({
                url:"findAllClassesBySchoolId",
                data:{
                    schoolId:schoolId,
                },
                success:function (result) {
                    $("#classInSchoolId").empty();
                    $("#studentId").empty();
                    for (var classes in result.classList){
                        $("#classInSchoolId").append("<option value='"+result.classList[classes].id+"'>"+result.classList[classes].classInSchoolName+"</option>");
                    }
                }
            })
        };
        function  clickPredictView() {
            var  schoolId = $('#schooId').val();
            var  classInSchoolId = $('#classInSchoolId').val();
            var  studentId = $('#studentId').val();
            $("#form").hide();
            $("#echartsViewBut").hide();
            $("#header").hide();
            $.ajax({
                url:"/predictScoreByStudentId",
                data:{
                    schoolId:schoolId,
                    studentId:studentId
                },
                dataType:"json",
                success:function (result) {
                    if (result.status != 0) {
                        alert(result.message);
                        return;
                    }
                    $('#predictMessage').html(result.data.predictMessage);
                }
            })
        }
    </script>
</head>
<body>
<div class="container">
    <div class="row clearfix" id="header">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    Please Choose Student
                    <br>
                </h1>
            </div>
            <dl>
                <dt>
                    For Your Attention,The following information is required
                </dt>
                <dd>
                    studentName
                </dd>
            </dl>
        </div>
    </div>
    <form class="form-horizontal" role="form" id="form">
        <div class="form-group">
            <label for="schooId" class="col-sm-2 control-label">选择学校</label>
            <div class="col-sm-10">
                <select id="schooId" name="schoolId" onchange="searchClasses(this.value)">
                    <option value="">--请选择学校--</p></option>
                    <option th:selected = "${schoolId eq school.id}" th:each="school:${schoolList}" th:value="${school.id}"><p th:text="${school.schoolName}"></p></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="classInSchoolId" class="col-sm-2 control-label">选择班级</label>
            <div class="col-sm-10">
                <select id="classInSchoolId" name="classInSchoolId" onclick="searchStudents(this.value)">
                    <option value="">--请选择班级--</p></option>
                    <option th:selected = "${classInSchoolId eq schoolClass.id}" th:each="schoolClass:${classList}" th:value="${schoolClass.id}"><p th:text="${schoolClass.classInSchoolName}"></p></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="studentId" class="col-sm-2 control-label">选择学生</label>
            <div class="col-sm-10">
                <select id="studentId" name="studentId">
                    <option value="">--请选择学生--</p></option>
                    <option th:each="student:${studentList}" th:value="${student.id}"><p th:text="${student.studentName}"></p></option>
                </select>
            </div>
        </div>
    </form>
    <div class="form-group" id="echartsViewBut">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-info btn-lg"  onclick="clickPredictView()">查看预测成绩</button>
            &nbsp;     &nbsp;     &nbsp;     &nbsp;     &nbsp;     &nbsp;
            <button type="button" class="btn btn-info btn-lg"  onclick="window.location.href='/tologinSuccess'">返回</button>
        </div>
    </div>
    <p id="predictMessage"></p>
</div>

</body>
</html>